.App {
  width: 100%;
  position: relative;
}

.gameWrapper{
  width: 100%;
  min-height: 100vh;
  padding: 10px 0px;
  background: #ddd;
  position: relative;
}

.usernameDisplay{
  text-align: center;
  margin-bottom: 10px;
}

.controls{
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.btn{
  min-width: 120px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  margin: 10px 0px;
  border-radius: 3px;
  background: #00217a;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 3px black;
  user-select: none;
}

.btn:active{
  box-shadow: inset 2px 2px 3px black;
}

#toggleShop{
  visibility: hidden;
}

.canvasWrapper{
  width: 800px;
  height: 800px;
  margin: 0px auto 0px auto;
  position: relative;
}

.canvasWrapper canvas{
  position: absolute;
  top: 20px;
  left: 0px;
  background: black;
  cursor: pointer;
}

.instructions{
  width: 400px;
  height: auto;
  margin: 50px auto 0px auto;
  list-style-type: disc;
}

.closeX{
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: black;
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
}